/* CSS Document */
body,td,th,tr {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
.t12n {font-size: 8px; color:#666666}
.celda {font-size:10px; color:#666666; background:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif}
.legend { font-size:9px; color:#710000}
.linkguinda          {COLOR: #80090b;} 
A.linkguinda:link    {TEXT-DECORATION: none; COLOR:#80090b;} 
A.linkguinda:active  {TEXT-DECORATION: none; COLOR:#80090b;} 
A.linkguinda:visited {TEXT-DECORATION: none; COLOR:#80090b;} 
A.linkguinda:hover   {TEXT-DECORATION: none; COLOR:#80090b;}

.linkblanco          {COLOR: #333333;  FONT-SIZE: 12px}
A.linkblanco:link    {TEXT-DECORATION: none; COLOR:#FFFFFF;  FONT-SIZE: 12px} 
A.linkblanco:active  {TEXT-DECORATION: none; COLOR:#FFFFFF;  FONT-SIZE: 12px} 
A.linkblanco:visited {TEXT-DECORATION: none; COLOR:#FFFFFF; FONT-SIZE: 12px} 
A.linkblanco:hover   {TEXT-DECORATION: none; COLOR:#FFFFFF; FONT-WEIGHT: bold}
.blanco {
	font-size: 12px;
	color: #FFFFFF;
}

.scroll {
       SCROLLBAR-FACE-COLOR:      #000066;
       SCROLLBAR-HIGHLIGHT-COLOR: #C7C7C7;
       SCROLLBAR-SHADOW-COLOR:    #C7C7C7;
       SCROLLBAR-3DLIGHT-COLOR:   #C7C7C7;
       SCROLLBAR-ARROW-COLOR:     #C7C7C7;
       SCROLLBAR-TRACK-COLOR:     #C7C7C7;
       SCROLLBAR-DARKSHADOW-COLOR:#000066; scro
       
	   }
img, div { behavior: url(iepngfix.htc) }