
#slider-show{width: 640px;height: 340px;}
#main-slider { background: url("../img/slider-bg.png") 50% 50% no-repeat; margin-bottom: 48px; padding: 18px 21px; position: relative; width: 638px; height: 357px; margin-left: -7px; }
#main-slider .slider-nav a { background-image: url("../img/sprites.png?v=1.6"); background-repeat: no-repeat; background-position: 0px 0px; /*size: $width $height;*/ display: block; height: 17px; width: 10px; text-indent: -9999px; position: absolute; top: 50%; margin-top: -8px;text-decoration: none; }
#main-slider .slider-nav a.arrow-left { background-position: -286px -123px; left: -10px; }
#main-slider .slider-nav a.arrow-right { background-position: -286px -96px; right: -10px; }
#main-slider .slider-window { width: 640px; height: 341px; overflow: hidden; }
#main-slider .slider-window .specialday { width: 640px; height: 550px; overflow: hidden; }
#main-slider .slider-window .slide { position: relative; width: 640px; }
#main-slider .slider-window .slide .title { 
    background: #ba2026; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#a31c21',startColorstr='#cf242a'); /* for IE */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#a31c21',startColorstr='#cf242a')"; /* for IE */ background-image: -webkit-gradient(linear, left top, left bottom, from(#cf242a), to(#a31c21)); /* for webkit browsers */ background-image: -moz-linear-gradient(center top, #cf242a, #a31c21); /* for firefox 3.6+ */ background: -webkit-gradient(linear, left top, left bottom, from(rgba(207, 36, 42, 0.7)), to(rgba(163, 28, 33, 0.7))); background: -moz-linear-gradient(center top, rgba(207, 36, 42, 0.7), rgba(163, 28, 33, 0.7)); border: 1px solid #cf242a; 
    /* verde
    background: #bababa;
    @include gradient( #cfcfcf, #a3a3a3 );
    background: -webkit-gradient( linear, left top, left bottom, from( rgba(207, 207, 207, 0.7) ), to( rgba(163, 163, 163, 0.7) ) );  for webkit browsers 
    background: -moz-linear-gradient( center top, rgba(207, 207, 207, 0.7), rgba(163, 163, 163, 0.7) );  for firefox 3.6+ 
    border: 1px solid #cfcfcf;*/ 
    left: 26px; padding: 10px; position: absolute; text-align: center; bottom: 26px; 
}
#main-slider .slider-window .slide .title > div { border: 1px solid #e1777b; border: 1px solid rgba(225, 119, 123, 0.7); /*					border: 1px solid #e1e1e1;
					border: 1px solid rgba(225, 225, 225, 0.7);*/ max-width: 300px; padding: 10px 20px; }
#main-slider .slider-window .slide .title * { color: #ffffff; }
#main-slider .slider-window .slide .title h1 { font: 30px/28px "soberana_sansregular", serif; margin-bottom: 12px; text-shadow: 0 1px 0 #999999, 0 -1px 10px #555555; text-transform: uppercase; }
#main-slider .slider-window .slide .title .more-link { margin: 16px auto 0; }
#main-slider .slider-dots { margin-top: 23px; text-align: center; }
#main-slider .slider-dots a {
               text-decoration: none; background-image: url("../img/sprites.png?v=1.6"); 
               background-repeat: no-repeat; 
               background-position: -300px -117px; /*size: $width $height;*/ 
               display: block; height: 11px; width: 11px; text-indent: -9999px; 
               background-color: #fafafa; border: 4px solid #fafafa; 
               display: inline-block;  
}
#main-slider .slider-dots a.selected, #main-slider .slider-dots a:hover{text-decoration: none; background-position: -300px -96px; }
#main-slider .slider-dots a:first-child { text-decoration: none;border-left-width: 10px; }
#main-slider .slider-dots a:last-child { text-decoration: none;border-right-width: 10px; }
