@charset "utf-8";
@font-face {
    font-family: 'soberana_titularbold';
    src: url('font/soberanatitular-bold-webfont.eot');
    src: local('☺'),
         url('font/soberanatitular-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanatitular-bold-webfont.woff') format('woff'),
         url('font/soberanatitular-bold-webfont.ttf') format('truetype'),
         url('font/soberanatitular-bold-webfont.svg#soberana_titularbold') format('svg');
}
@font-face {
    font-family: 'soberana_titularregular';
    src: url('font/soberanatitular-regular-webfont.eot');
    src: local('☺'),
         url('font/soberanatitular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanatitular-regular-webfont.woff') format('woff'),
         url('font/soberanatitular-regular-webfont.ttf') format('truetype'),
         url('font/soberanatitular-regular-webfont.svg#soberana_titularregular') format('svg');    
}
@font-face {
    font-family: 'soberana_sansbold';
    src: url('font/soberanasans-black-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-black-webfont.woff') format('woff'),
         url('font/soberanasans-black-webfont.ttf') format('truetype'),
         url('font/soberanasans-black-webfont.svg#soberana_sansbold') format('svg');    
}
@font-face {
    font-family: 'soberana_sansbold_italic';
    src: url('font/soberanasans-blackitalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-blackitalic-webfont.woff') format('woff'),
         url('font/soberanasans-blackitalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-blackitalic-webfont.svg#soberana_sansbold_italic') format('svg');
}
@font-face {
    font-family: 'soberana_sans_lightbold';
    src: url('font/soberanasans-bold-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-bold-webfont.woff') format('woff'),
         url('font/soberanasans-bold-webfont.ttf') format('truetype'),
         url('font/soberanasans-bold-webfont.svg#soberana_sans_lightbold') format('svg');
}
@font-face {
    font-family: 'soberana_sans_lightBdIt';
    src: url('font/soberanasans-bolditalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-bolditalic-webfont.woff') format('woff'),
         url('font/soberanasans-bolditalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-bolditalic-webfont.svg#soberana_sans_lightBdIt') format('svg');
}
@font-face {
    font-family: 'soberana_sansitalic';
    src: url('font/soberanasans-italic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-italic-webfont.woff') format('woff'),
         url('font/soberanasans-italic-webfont.ttf') format('truetype'),
         url('font/soberanasans-italic-webfont.svg#soberana_sansitalic') format('svg');
}
@font-face {
    font-family: 'soberana_sanslight';
    src: url('font/soberanasans-light-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-light-webfont.woff') format('woff'),
         url('font/soberanasans-light-webfont.ttf') format('truetype'),
         url('font/soberanasans-light-webfont.svg#soberana_sanslight') format('svg');
}
@font-face {
    font-family: 'soberana_sanslight_italic';
    src: url('font/soberanasans-lightitalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-lightitalic-webfont.woff') format('woff'),
         url('font/soberanasans-lightitalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-lightitalic-webfont.svg#soberana_sanslight_italic') format('svg');
}
@font-face {
    font-family: 'soberana_sansregular';
    src: url('font/soberanasans-regular-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-regular-webfont.woff') format('woff'),
         url('font/soberanasans-regular-webfont.ttf') format('truetype'),
         url('font/soberanasans-regular-webfont.svg#soberana_sansregular') format('svg');
}
@font-face {
    font-family: 'soberana_sansultra';
    src: url('font/soberanasans-ultra-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-ultra-webfont.woff') format('woff'),
         url('font/soberanasans-ultra-webfont.ttf') format('truetype'),
         url('font/soberanasans-ultra-webfont.svg#soberana_sansultra') format('svg');
}
@font-face {
    font-family: 'soberana_sansultra_italic';
    src: url('font/soberanasans-ultraitalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-ultraitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-ultraitalic-webfont.woff') format('woff'),
         url('font/soberanasans-ultraitalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-ultraitalic-webfont.svg#soberana_sansultra_italic') format('svg');
}
/* GENERAL ------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}
clearfix { display: inline-block; }
body 
{
   background: #fafafa;
   color: #2F2F2F;
   font: 1em "soberana_sansregular", Calibri, sans-serif;
}
#cuerpo_body {
    margin: 16px auto 0;
    width: 980px;
}
.InicioSeccion {display: none;}
#header {
    height: 180px;
    padding: 6px 16px;
    width: 980px;
    padding-top: 18px; 
}
#contenido {
    padding: 16px;
}
/* BARRA DE LINKS */
.centrar_tabla
{
	width: 520;
	margin:0 auto 0 auto;
}

#barra_herramientas
{
   height: 35px;
   width: 980px;
}
#acceso
{
    float: right;
    padding: 8px 0 0 420px;	
    font: 12px "soberana_sansregular", Calibri, sans-serif;
    text-transform:  uppercase;
}
#acceso a 
{    
    padding: 5px 2px;                
}

/*FIN DE BARRA DE LINKS*/
/*BUSCADOR*/
 #busqueda-form { 
    float: right;
    background: #f1f1f1; 
    border: 1px solid #fafafa; 
    box-shadow: 1px 0 0 #f8f8f8; 
    padding:  0 5px 3px 5px; 
    position: relative;      
}
 #busqueda-form input[type=text] { 
    background: #ffffff; 
    border: 1px solid #d6d6d6; 
    box-shadow: inset 1px 1px 0 #eeeeee; 
    height: 25px; 
    line-height: 25px; 
    padding: 0 28px 0 10px;     
    width: 200px; 
 }
 #busqueda-form button { 
    
    position: absolute; top: 50%; right: 10px; margin-top: -12px; 
    background-image: url("../img/sprites.png?v=1.6"); 
    background-repeat: no-repeat; 
    background-position: -286px -61px; 
    display: block; height: 25px; width: 25px; text-indent: -9999px; 
}
/*FIN BUSCADOR*/
/*LOGOS*/
#logos
{
    height: 100px;  
    width: 980px;    
}
#logo_sep_nombre_tec
{    
    float: left; 
    width: 980px;
}
#logo_sep_nombre_tec #logo_gray
{
    float: left;   
}

#logo_tecnm
{
    padding: 0px 20px;
    width: 980px;	
}
#logo_its 
{
    float: right;
	padding: 0px 20px;    
}
/*LOGOS*/
/*MENU DE NAVEGACIÓN*/
#header #nav { margin-bottom: 30px; }
#header #nav ul { list-style-type: none; }
#header #nav #nav-bar { background: url("../img/sprites.png?v=1.6") 0 0 no-repeat; height: 40px; margin-top: 23px; width: 1050px; padding: 0 20px; margin-left: -20px; }
#header #nav #nav-bar > ul > li { float: left;  position: relative; font:12px 'soberana_titularbold';}
#header #nav #nav-bar > ul > li:before { background-image: url("../img/sprites.png?v=1.6"); background-repeat: no-repeat; background-position: -286px -150px; /*size: $width $height;*/ display: block; height: 11px; width: 6px; text-indent: -9999px; content: ""; float: left; margin: 10px 6px 0; }
#header #nav #nav-bar > ul > li:first-child:before { content: none; display: none; }
#header #nav #nav-bar > ul > li > a { border-left: 1px solid transparent; border-right: 1px solid transparent; color: #5f5e5c; float: left; height: 37px; line-height: 37px; padding: 0 16px; position: relative; z-index: 20; margin-top: 2px;}
#header #nav #nav-bar > ul > li > a.selected { color: #cf242a; }
#header #nav #nav-bar > ul > li:hover > a { background: #fbfbfb; border-left-color: #CCCCCC; border-right-color: #CCCCCC; text-decoration: none; }
#header #nav .submenu { background: #dfdfdf; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#cbcbcb',startColorstr='#fbfbfb'); /* for IE */ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,endColorstr='#cbcbcb',startColorstr='#fbfbfb')"; /* for IE */ background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#cbcbcb)); /* for webkit browsers */ background-image: -moz-linear-gradient(center top, #fbfbfb, #cbcbcb); /* for firefox 3.6+ */ border: 1px solid #fafafa; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); display: none; font: 13px/14px serif; margin-left: 35px; min-width: 140px; padding: 18px; position: absolute; text-transform: uppercase; top: 39px; z-index: 15; }
#header #nav .submenu a { color: #545454; font:12px 'soberana_sansregular'; }
#header #nav .submenu ul li { border-top: 1px solid #ffffff; padding: 8px 5px; text-align: left; white-space: nowrap; }
#header #nav .submenu ul li:first-child { border-top: 0; }
#header #nav .submenu ul li a { display: block; }

#header #nav #galeria-submenu { overflow: hidden; margin-left: -100px; padding-right: 28px 30px 28px 28px; width: 414px;}
#header #nav #galeria-submenu .left { float: left; width: 170px; padding: 0 10px;  }
#header #nav #galeria-submenu .left h3 { font:12px 'soberana_sansbold_italic'; margin: 0 0 10px 5px; text-transform: none; }
#header #nav #galeria-submenu .left ul li { white-space: normal; }
/*FIN MENU DE NAVEGACIÓN*/

.button, .more-link { background: url("../img/sprites.png?v=1.6") no-repeat; color: #fafafa; display: block; font: 11px/29px serif; height: 35px; text-align: center; text-transform: uppercase; }
.button.centered, .more-link.centered { margin-left: auto; margin-right: auto; }
.button.search-back, .more-link.search-back { margin-top: 32px; }
.button:hover, .more-link:hover { text-decoration: none !important; }
 button.button { padding-bottom: 8px; }
.button.normal, .more-link { width: 118px; }
.button.large { width: 200px; }
.button.medium { width: 92px; }
.button.small { width: 72px; }
.button.red.large { background-position: -853px -61px; }
.button.red.large:hover { background-position: -440px -321px; }
.button.green.normal { background-position: -725px -61px; }
.button.green.normal:hover { background-position: -312px -321px; }
.button.green.medium { background-position: -541px -61px; }
.button.green.medium:hover { background-position: -128px -321px; }
.button.green.small { background-position: -643px -61px; }
.button.green.small:hover { background-position: -230px -321px; }
.button.red.normal, .more-link { background-position: -413px -61px; }
.button.red.normal:hover, .more-link:hover { background-position: 0 -321px; }

/* AVISOS */

#tituloaviso
{
font: 12px "soberana_titularbold";
}

hr {
	background:none;
	border-top-color:#98979C;
	border-bottom-color:#fafafa;
height: 1px;
}

#titulofooter
{
font: 12px "soberana_sansregular";
text-align:center;
color: #808080;
}

#contenedor{
background:#f1f1f1;
padding:0px;
overflow:hidden;
}

#Alumno{
float:left;
padding:10px;
width:165px;
margin:5px;
font: 12px "soberana_sansregular";
text-align:center;
}

#Docente{
float:left;
padding:10px;
width:165px;
margin:5px;
font: 12px "soberana_sansregular";
text-align:center;
} 

#Tecnologico{
float:left;
padding:10px;
width:165px;
margin:5px;
font: 12px "soberana_sansregular";
text-align:center;
} 

#Avisos{
float:left;
padding:10px;
width:165px;
margin:5px;
font: 12px "soberana_sansregular";
text-align:center;
}

#Egresado{
float:left;
padding:10px;
width:165px;
margin:5px;
font: 12px "soberana_sansregular";
text-align:center;
}

small{
    font-size: 15px;
}
span {
    font: 1em "soberana_sansregular", Calibri, sans-serif!important;
}
b{
    font-family: "soberana_sansbold", Calibri, sans-serif!important;font-weight: bold!important;
}
table td {
    font-size: 15px;
}
img {
    border: 0 none;
}
a{
    text-decoration: none;
    color:#5F5E5C;
}
a:hover 
{
    text-decoration: underline;
    color:#5F5E5C;
}
button { 
    border: 0; 
    background: transparent; 
    cursor: pointer; 
    padding: 0; 
    margin: 0; 
}
button::-moz-focus-inner { 
    padding: 0; 
    border: 0; 
}
.group:after 
{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}